{% extends 'master2.html' %}
{% load static %}
{% block style %}{% static 'css/style_dashboard.css' %}{% endblock %}
{% block title %}Dashboard{% endblock %}
{% block header %}Dashboard{% endblock %}
{% block sidebar %}

<div class="sidelink active" data-id="{% url 'dashboard' %}">
    <span>Dashboard</span>
</div>
<div class="sidelink" data-id="{% url 'exams' %}">
    <span>Exams</span>
</div>
<div class="sidelink" data-id="{% url 'faculties' %}">
    <span>Faculties</span>
</div>
<div class="sidelink" data-id="">
    <span>Courses</span>
</div>
<div class="sidelink" data-id="">
    <span>Register</span>
    <!-- student, course, admin -->
</div>
<div class="sidelink" data-id="">
    <span>Approval</span>
    <!-- student -->
</div>
<div class="sidelink" data-id="">
    <span>Admins</span>
</div>
<div class="sidelink" data-id="">
    <span>Students</span>
</div>

{% endblock sidebar %}
{% block content %}

{% endblock %}
