{% extends 'master2.html' %}
{% load static %}
{% block style %}{% static 'css/style_exams.css' %}{% endblock %}
{% block title %}Exams{% endblock %}
{% block header %}Exams{% endblock %}
{% block sidebar %}
<div class="sidelink" data-for="{% url 'dashboard' %}">
    <span>Dashboard</span>
</div>
<div class="sidelink active" data-for="{% url 'exams' %}">
    <span>Exams</span>
</div>
<div class="sidelink" data-for="{% url 'courses' %}">
    <span>Courses</span>
</div>
<div class="sidelink" data-for="">
    <span>Register</span>
    <!-- student, course, admin -->
</div>
<div class="sidelink" data-for="">
    <span>Approval</span>
    <!-- student -->
</div>
<div class="sidelink" data-for="">
    <span>Admins</span>
</div>
<div class="sidelink" data-for="">
    <span>Students</span>
</div>

{% endblock sidebar %}
{% block content %}
<button class="add_exam" type="button" id="add_exam" data-for="add_exam_box">&plus; Create Exam</button>
<div class="exams">
    {% for exam in exams %}
    <div class="exam" data-for="{{exam.id}}">{{ exam.label }} <span class="fa fa-trash-can icon del" title="Delete"></span><span class="fa fa-pencil icon edit" title="Edit"></span></div>
    {% empty %}
    <h1>No exam found!</h1>
    {% endfor %}
</div>
<div class="background">
    <span id="close">&times;</span>
    <div class="add_exam_box" id="add_exam_box">
        <h3>Add Exam</h3>
        <div class="inputs">
            <form autocomplete="off" method="post" name="new_exam" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="message failure" id="message"></div>
                <span class="label">Exam Label</span>
                <div class="input_group">
                    <input type="text" id="label" name="label" autocomplete="off" value="" required />
                    <span class="clear" data-for="label" title="Clear Exam Label">&times;</span>
                </div>
                <span class="label">Course</span>
                <div class="input_group">
                    <select name="course">
                        <option value="">-- SELECT COURSE --</option>{% for faculty in collection %}
                        <optgroup label="{{ faculty.name }}">{% for course in faculty.courses %}
                            <option value="{{ course.code }}">{{ course.name }} </option>{% endfor %}
                        </optgroup>{% endfor %}
                    </select>
                </div>
                <button type="submit">SUBMIT</button>
            </form>
        </div>
    </div>
    <div class="edit_exam_box" id="edit_exam_box">
        <h3>Edit Exam</h3>
        <div class="inputs">
            <form autocomplete="off" method="post" name="edit_exam" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="edit_message failure" id="edit_message"></div>
                <input type="hidden" name="id">
                <span class="label">Exam Label</span>
                <div class="input_group">
                    <input type="text" id="edit_label" name="edit_label" autocomplete="off" value="" required />
                    <span class="clear" data-for="edit_label" title="Clear Exam Label">&times;</span>
                </div>
                <span class="label">Course</span>
                <div class="input_group">
                    <select name="edit_course">
                        <option value="">-- SELECT COURSE --</option>{% for faculty in collection %}
                        <optgroup label="{{ faculty.name }}">{% for course in faculty.courses %}
                            <option value="{{ course.code }}">{{ course.name }} </option>{% endfor %}
                        </optgroup>{% endfor %}
                    </select>
                </div>
                <button type="submit">SUBMIT</button>
            </form>
        </div>
    </div>
</div>
<div class="floating_msg" title="Click to close"></div>
</div>
{% endblock %}
{% block script %}{% static 'js/script_exams.js' %}{% endblock %}
